@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* No está importando la font DM-Sans */

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans", "DM-Sans", Verdana, "Times New Roman";
  box-sizing: border-box;
  color: #06283D;
  background-color: #EAF6F6;
}

:root {
  --navbar-size: 60px;
  --footer-size: 60px;
}

#root {
  height: 100vh;
}

.main {
  padding-top: 5rem;
}
