.main{
  margin-top:0rem;
  margin-left:3rem;
  }

.section{
  margin-top:1rem;

}

.section-heading {
font-size:125%;
margin-left:1rem;
margin-bottom:1.75rem;
margin-top:3rem
}


.publication-container{
/* border:solid 1px black; */
}

.publication-item {
/*     display:flex;
    flex-direction:column; */
    gap:0.45rem;
    padding:1rem;
}

p.publication-item:hover{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.bold-author{
font-weight: bold;

}


a.metadata , a:link,
a:focus,
a:hover,
a:visited {
    text-decoration:underline;
    color: currentColor;
}
